html, body {
    height: 100%;
    margin: 0;
}

#mapid {
    min-height: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#progress {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 20px;
    margin-top: -10px;
    margin-left: -200px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #f44336;
    border-radius: 4px;
}

#risk-chart {
    position: fixed;
    z-index: 999;
    left: 20px;
    top: 20px;
    width: 350px;
    height: 350px;
    padding: 2px;
}

.highcharts-point {
    stroke: white;
}

.highcharts-graph.zone-0 {
    stroke: #f7a35c;
}
.highcharts-area.zone-0 {
    fill: #f7a35c;
}
.highcharts-point.zone-0 {
    fill: #f7a35c;
}
.highcharts-graph.zone-1 {
    stroke: #7cb5ec;
}
.highcharts-area.zone-1 {
    fill: #7cb5ec;
}
.highcharts-point.zone-1 {
    fill: #7cb5ec;
}
.highcharts-graph.zone-2 {
    stroke: #90ed7d;
}
.highcharts-area.zone-2 {
    fill: #90ed7d;
}
.highcharts-point.zone-2 {
    fill: #90ed7d;
}